@model VictoryFC.Models.HomeViewModel

@{
    ViewData["Title"] = "Matches";
}

<div class="card border shadow">
    <div class="card-body">
        <div class="row align-items-center mb-3">
            <div class="col-md-6">
                <h3 class="mb-2 mb-md-0"><i class="bi bi-calendar-event me-2"></i>All Matches</h3>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-md-end align-items-center gap-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="editModeToggle">
                    </div>
                    <select class="form-select w-auto" id="competition-select">
                        <option value="all" selected>All Competitions</option>
                        <option value="regular">Division 3</option>
                        <option value="spence">Spence Cup</option>
                    </select>
                </div>
            </div>
        </div>

        <ul class="nav nav-pills mb-4" role="tablist">
            <li class="nav-item">
                <button class="nav-link text-black active" data-bs-toggle="pill" data-bs-target="#all-matches">
                    <i class="bi bi-list-ul me-1 d-none d-sm-inline"></i>All Matches
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link text-black" data-bs-toggle="pill" data-bs-target="#victory-matches">
                    <i class="bi bi-trophy me-1 d-none d-sm-inline"></i>Victory FC
                </button>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="all-matches">
                @{
                    ViewData["ShowEditButtons"] = true;
                    var allMatches = Model.AllMatches.OrderByDescending(m => m.Date).GroupBy(m => m.Date.Date).OrderByDescending(g => g.Key);
                }
                @Html.Partial("_MatchesList", allMatches)
            </div>

            <div class="tab-pane fade" id="victory-matches">
                @{
                    ViewData["ShowEditButtons"] = true;
                    var victoryMatches = Model.VictoryMatches.OrderByDescending(m => m.Date).GroupBy(m => m.Date.Date).OrderByDescending(g => g.Key);
                }
                @Html.Partial("_MatchesList", victoryMatches)
            </div>
        </div>
    </div>
</div>